@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');  

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.studywidget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  background-color: #25262D;
  border-radius: 25px;
  padding: 25px 12px 20px 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  
  .widget {
    display: flex;
    flex-direction: column;
    gap: 130px;
    
    .widget-word {
      .widget-title {
        color: #D0D0D0;
        font-size: 18px;
        margin-bottom: 15px;
      }
      .widget-p {
        color: #F3F3F3;
      }
    }
  }

}

.setting-btn {
  color: #f3f3f3;
  letter-spacing: -1px;
  font-size: 14px;
  background-color: #628D54;
  border-radius: 30px;
  padding: 8px 19px;
}

.setting-btn:hover {
  background-color: #496548
}