@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');  

*{
  font-family: 'Noto Sans KR', sans-serif;
}

.widget-container {
  width: 100%;
  height: 80px;
  background-color: #25262D;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 10px;
  .date-widget {
    color: #f3f3f3;
    font-size: 18px;
  }
  .dday {
    color: #f3f3f3;
    font-size: 20px;
    margin-right: 20px;
  }
}