.ranking {
    box-sizing: border-box;
    // width: 470px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.15);
}

p {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}

ul {
    list-style: none;
}