.studyroom {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 4px 4px 20px 3px rgba(0,0,0,0.15);
    border-radius: 30px;
    border: 4px solid #628D54;
    // width: 1440px;
    // height: 750px;
    // margin-bottom: 100px;
}