@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300;400;500;700&display=swap'); 

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  .logo {
    font-family: 'Titan One', cursive;
    font-size: 36px;
  }
  
  .btn-group {
    display: flex;
    align-items: center;
    gap: 25px;

    .make-study-btn {
      color: #F3F3F3;
      border-radius: 50px;
      font-size: 14px;
      padding: 12px 19px;
    }
    .make-study-btn:hover {
      background-color:#496548;
    }

    .mag-icon {
      font-size: 30px;
    }

    .menu-icon {
      font-size: 40px;
    }

    .menu-icon:hover{
      color: #496548;
    }
  }
  
}